.sidebar-transition-enter-active,
.sidebar-transition-exit-active {
  transition: margin 0.3s ease-in-out, opacity .3s ease-in-out;
}

.sidebar-transition-enter,
.sidebar-transition-exit-to {
  overflow: hidden;
  margin-left: -16rem;
  opacity: 0;
}
